.table-header-container {
  flex-grow: 0;
  font-size: 16px;
  font-weight: 700;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}